@font-face {
	font-family: 'DeathStar';
	src: url('../fonts/DeathStar.woff2') format('woff2'),
		 url('../fonts/DeathStar.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'StarJediSpecialEdition';
	src: url('../fonts/StarJediSpecialEdition.woff2') format('woff2'),
		 url('../fonts/StarJediSpecialEdition.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}